# Cleaning steps

After examining the data, determined that data cleaning was not necessary

Two fields appear suspect and will not be used (birth year and gender)

There is no missing data (NaN) and datatypes are as expected

In [1]:
# Dependencies

import pandas as pd

In [2]:
# create dataframe from csv

df = pd.read_csv("Data/JC-202104-citibike-tripdata.csv")

df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1900,2021-04-01 00:07:25.4780,2021-04-01 00:39:06.0800,3225,Baldwin at Montgomery,40.723659,-74.064194,3225,Baldwin at Montgomery,40.723659,-74.064194,45464,Customer,1970,0
1,236,2021-04-01 00:08:13.9440,2021-04-01 00:12:10.1330,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,38392,Customer,1970,0
2,1047,2021-04-01 00:11:01.4250,2021-04-01 00:28:28.5300,3276,Marin Light Rail,40.714584,-74.042817,3678,Fairmount Ave,40.725726,-74.071959,54268,Customer,1970,0
3,491,2021-04-01 00:15:09.7010,2021-04-01 00:23:20.8380,3202,Newport PATH,40.727224,-74.033759,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42307,Customer,1970,0
4,193,2021-04-01 00:21:05.0750,2021-04-01 00:24:18.2960,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44452,Customer,1970,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23313,1700,2021-04-30 23:55:22.9900,2021-05-01 00:23:43.6660,3202,Newport PATH,40.727224,-74.033759,3184,Paulus Hook,40.714145,-74.033552,39772,Customer,1970,0
23314,1958,2021-04-30 23:55:50.6830,2021-05-01 00:28:28.7000,3677,Glenwood Ave,40.727551,-74.071061,3193,Lincoln Park,40.724605,-74.078406,32575,Customer,1970,0
23315,877,2021-04-30 23:57:33.1520,2021-05-01 00:12:11.0930,3272,Jersey & 3rd,40.723332,-74.045953,3202,Newport PATH,40.727224,-74.033759,42495,Customer,1970,0
23316,173,2021-04-30 23:59:38.4630,2021-05-01 00:02:31.8160,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,42470,Customer,1970,0
23317,174,2021-04-30 23:59:43.2470,2021-05-01 00:02:37.5830,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,39839,Customer,1970,0

In [3]:
# confirm data types

df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [4]:
# check for missing

df.isnull().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [5]:
# Check values for suspicious column of gender

df["gender"].value_counts()

# nearly all values are zero, which is "unknown", will not be used

0    22392
1      667
2      259
Name: gender, dtype: int64

In [6]:
# Check values for suspicious column of birth year

df["birth year"].value_counts()

# this is likely not a good field - nearly all values are 1970, will not be used

1970    22416
1958       83
1991       72
1986       53
1989       37
1976       35
1987       34
1980       34
1990       31
1981       31
1968       27
1966       26
1985       25
1979       24
1988       22
1982       21
1961       21
1977       20
1962       20
1960       19
1956       18
1994       17
1996       17
1973       16
1978       16
1983       15
1992       15
1984       15
1993       14
1963       12
1995       12
1954       11
1951       11
1972        9
1964        8
1971        8
1975        7
1969        7
1952        6
1974        5
1965        4
1953        4
1959        3
1949        3
1999        3
2002        2
2000        2
1997        2
1967        2
1957        1
1955        1
1947        1
Name: birth year, dtype: int64